<nav class="side-navbar">
  <ul class="list-unstyled">
    <% Components::Sidebar::BaseHelper.items.each do |item| %>
      <%= render "components/sidebar/#{ item[:type] }", item %>
    <% end %>
  </ul>
</nav>